tickTime=2000
dataDir={{ zookeeper_data_dir }}
clientPort=2181
initLimit=5
syncLimit=2
4lw.commands.whitelist=*
admin.enableServer={{ zookeeper_enable_http_server }}

{% for node in groups['zookeeper'] %}
server.{{hostvars[node].myid}}={{hostvars[node].ansible_host}}:2888:3888
{% endfor %}
