ZOOMAIN=org.apache.zookeeper.server.quorum.QuorumPeerMain
ZOOCFGDIR={{ zookeeper_conf_dir }}
ZOOCFG={{ zookeeper_conf_dir }}/zoo.cfg
ZOO_LOG_DIR={{ zookeeper_log_dir }}
ZOO_LOG4J_PROP=INFO,ROLLINGFILE
JMXLOCALONLY=true
JAVA_OPTS=""

# If ZooKeeper is started through systemd, this will only be used for command
# line tools such as `zkCli.sh` and not for the actual server
JAVA=/usr/bin/java

# TODO: This is really ugly
# How to find out which jars are needed?
# Seems that log4j requires the log4j.properties file to be in the classpath
CLASSPATH="{{zookeeper_install_dir}}/zookeeper-{{zookeeper_version}}.jar:/etc/zookeeper/:{{zookeeper_install_dir}}/lib/*"
