[Unit]
Description=Zookeeper Service
After=network.target
ConditionPathExists={{ zookeeper_data_dir }}/myid

[Service]
Type=simple
User={{ zookeeper_user }}
Group={{ zookeeper_group }}
SyslogIdentifier=zookeeper
EnvironmentFile={{ zookeeper_conf_dir }}/zookeeper.env
ExecStart=/usr/bin/java -cp ${CLASSPATH} $JAVA_OPTS -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.local.only=${JMXLOCALONLY} -Dzookeeper.log.dir=${ZOO_LOG_DIR} -Dzookeeper.root.logger=${ZOO_LOG4J_PROP} $ZOOMAIN $ZOOCFG
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
